@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #f2f2f2;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}

.App-main {
  margin: auto;
}

.container {
  width: 24rem;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.app-title {
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.image-onquiz {
  width: 10rem;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.quiz-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 24px;
  padding: 3.5rem 2rem 3rem;
}

.question-text {
  font-size: 1.25rem;
  color: #2f527b;
  margin: 0.75rem 0px;
}

.answer-button {
  margin: 0.75rem 0px;
  background: #ffffff;
  border: 2px solid rgba(96, 102, 208, 0.7);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  cursor: pointer;
}
.answer-button:hover {
  background: #f9a826;
  border-color: #f9a826;
}
.answer-button:focus {
  outline: none !important;
}

.wrap-answer {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.alfa-text {
  font-size: 1rem;
  color: rgba(96, 102, 208, 0.8);
  margin-right: 1.25rem;
  pointer-events: none;
}
.answer-text {
  text-align: left;
  font-size: 0.8rem;
  color: rgba(96, 102, 208, 0.8);
  pointer-events: none;
}
.answer-button:hover .alfa-text,
.answer-button:hover .answer-text {
  color: #fff;
}
.answer-button i {
  color: #fff;
  pointer-events: none;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.answer-button:hover i {
  color: #f9a826;
}

.next-button {
  align-self: flex-end;
  width: fit-content;
  background: #f9a826;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  padding: 14px 36px;
  font-weight: 700;
  color: #f2f2f2;
  border: 1px solid #f9a826;
  margin: 0.75rem 0px;
  cursor: pointer;
}
.next-button:focus {
  outline: none !important;
}

/* true falsy style state */
.answer-button.true {
  background: #60bf88;
  border-color: #60bf88;
}
.answer-button.false {
  background: #ea8282;
  border-color: #ea8282;
}
.answer-button.true:hover i,
.answer-button.false:hover i {
  color: #f2f2f2;
}

.answer-button.false .alfa-text,
.answer-button.false .answer-text,
.answer-button.false i,
.answer-button.true .alfa-text,
.answer-button.true .answer-text,
.answer-button.true i {
  color: #f2f2f2;
}

.App-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.copyright {
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f2f2f2;
}
.copyright a {
  color: #f2f2f2;
  text-decoration: none;
}
